.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

## Database Script

database.sql

## Config files

/application/config/config.php
/application/config/database.php

## Raid Logs

/assets/uploads/raid_dumps/*

## Node Modules

/node_modules
package-lock.json
