html {
  background-image: url(../img/pattern.png);
  background-repeat: cover; 
}

label {
    color: white;
    float: left;
}

label input, label select {
    font-size: 1rem;
    color: white;
    background-color: #212529;
    background-clip: padding-box;
    border: 1px solid #212529;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dataTables_info {
    padding-top: 0 !important;
    color: white;
    display: inline;
    float: left;
}

.dataTables_paginate {
    padding-top: 0.1rem;
    display: inline;
    float: right;
}

.dataTables_filter {
    float: right;
}

.paginate_button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    margin-left: 0.25em;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    background-color: #212529;
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.paginate_button:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    text-decoration: none;
    color: white;
    background-color: #5F7A88;
}

.paginate_button:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #5F7A88;
}

.current {
    background-color: #718D9C;
}

.disabled {
    color: grey;
}

.disabled:hover {
    cursor: auto;
    color: grey;
    background-color: #212529;
}
